body {
    background-image: linear-gradient(to bottom right,white, white, rgb(128, 25, 25));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  
}
